<%- include('../header'); -%>
  <p class="text-body">
    <%=orgName%><%= __(' have new complaint')%>
    <a 
    href="<%=clientURL%>/issue/<%=issueId%>">
      View</a>
  </p>
<%- include('../footer'); -%>
