<%- include('../header'); -%>
  <p class="text-body">
    <%= __('You where added to the organization')%>
      <a href=" <%=clientURL%>/<%=slug%>">
        View
      </a>
  </p>
<%- include('../footer'); -%>
